[env]
time_limit = 30
time_step = 0.4
val_size = 100
test_size = 500
randomize_attributes = false
behavior_attribute = true

[reward]
success_reward = 1
collision_penalty = -0.25
discomfort_dist = 0.2
discomfort_penalty_factor = 0.5


[sim]
sim_type = varied
train_val_sim = dynamic_mixed
test_sim = dynamic_mixed
square_width = 18
circle_radius = 6
human_num = 15


[humans]
visible = true
policy = orca
radius = 0.22
tension_space_out = 0.33, 0.33
tension_space_parm = 0.38, 0.15, 0.1
v_pref = 1
sensor = coordinates
sensing_range=None
eye_contact_parm = 60, 5
eye_contact_prob_threshold = 0.6
waiting_time_step_parm = 30, 6, 12
waiting_prob_threshold = 0.25

[robot]
visible = false
policy = none
radius = 0.26
v_pref = 1
sensor = PartialOb
sensing_range=3

[realscene]
path=dataset/crowds_students003.txt
time_step=0.4
interval=5
case_length=100

